// body and text
$body-bg: black;
$body-bg-light: white;

$body-color:#676767;
$body-color-light:#676767;

$body-color-darker: #404040;
$body-color-darker-light: red;

$link-color: white;
$link-color-light: black;

$border: #202020;
$border-light: white;

$text-highlight: white;
$text-highlight-light: black;

$text-dim: #303030;

$title-color: white;
$title-color-light: black;



// Typography
$font-family-base: 'Montserrat',
sans-serif;
$font-size-base: 1.125rem; // 18px
$line-height-base: 2.5;
$paragraph-margin-bottom: 2rem;



// transition
$transition-base: .2s;
$swoop: cubic-bezier(0.75, 0, 0.25, 1);



// Grid breakpoints
$grid-breakpoints: (xxs: 0,
  xs: 321px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px);

$container-max-widths: (xs: 1136px,
  sm: 1137px,
  md: 1138px,
  lg: 1139px,
  xl: 1140px,
  xxl: 1440px);

$grid-gutter-width: 30px;

$spacers: ( // 10: 10px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  22: 22px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px,
  60: 60px,
  70: 70px,
  80: 80px,
  90: 90px,
  100: 100px,
  // 110: 110px,
  // 120: 120px,
  // 130: 130px,
  // 140: 140px,
  // 150: 150px,

  g-n4: $grid-gutter-width / 4,
  g-n1: -$grid-gutter-width,
  g-1: $grid-gutter-width,

  1rem: 1rem,
  2rem: 2rem,
);



// other
$pre-color: white;
