@import './_var';
@import './components';

@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

@import "bootstrap/scss/_reboot.scss";
@import "bootstrap/scss/_root.scss";
@import "bootstrap/scss/_utilities.scss";
@import "bootstrap/scss/_type.scss";
@import "bootstrap/scss/_grid.scss";
// @import "bootstrap/scss/_.scss";


@import 'node_modules/front-end-debug/src/scss/front-end-debug';

@import './utilities/';
@import './layout/';

.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
