@import "/assets/scss/head";

.button-icon-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.button {
  $p: &;

  position: relative;

  padding: 0 30px;
  padding-top: 4px;
  padding-bottom: 2px;

  text-align: center;

  transition: all $transition-base $swoop;

  border-bottom: 2px solid;

  // stroke
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all $transition-base $swoop;
  }

  &:hover {
    &:before {
      top: 0;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &--primary {
    color: white;
    border-color: white;

    &:hover {
      color: black;
    }

    &:before {
      background-color: white;
    }

    &#{$p}--icon {
      background-color: white;
      color: black;
    }
  }

  &--cta {
    border-width: 2px;
    border-style: solid;
  }

  &--icon {
    padding-left: 15px;
    padding-right: 15px;

    margin-right: -2px;

    #{$p}__inner {
      transition: all $transition-base $swoop;
      transition: all $transition-base cubic-bezier(0.5, -0.96, 0, 3.11);
    }

    &:hover {
      #{$p}__inner {
        transform: scale(1.2) rotate(-10deg) translateY(-4px);
        // transform: translateY(-10px);
      }
    }
  }
}

// .button--primary.button--icon {

//   background-color: white;

// }
