<template>
  <div>
    <NuxtLink
      v-if="!externalLink"
      to="/"
      class="button button--primary button--cta button--icon no-underline center-y"
    >
      <span class="button__inner">
        <gitlab-icon class="button__icon"></gitlab-icon
      ></span>
    </NuxtLink>

    <a
      v-if="externalLink"
      target="_blank"
      :href="link"
      class="button button--primary button--cta button--icon no-underline center-y"
    >
      <span class="button__inner">
        <gitlab-icon class="button__icon"></gitlab-icon
      ></span>
    </a>
  </div>
</template>

<script>
import { GitlabIcon } from "vue-feather-icons";
export default {
  components: {
    GitlabIcon,
  },
  data() {
    return {
      externalLink: false,
    };
  },
  props: {
    icon: null,
    link: null,
  },
  mounted() {
    if (this.link.includes("http")) {
      this.externalLink = true;
    }
  },
};
</script>

<style lang="scss">
</style>