<template>
  <div>
    <!-- <NuxtLink
      to="/"
      class="button button--primary button--cta button--icon no-underline center-y"
    >
      <span class="button__inner">
        <gitlab-icon class="button__icon"></gitlab-icon
      ></span>
    </NuxtLink> -->

    <NuxtLink
      v-if="!externalLink"
      :to="link"
      class="button button--primary button--cta no-underline center-y"
    >
      <span class="button__inner">{{ text }}</span>
    </NuxtLink>

    <a
      v-if="externalLink"
      target="_blank"
      :href="link"
      class="button button--primary button--cta no-underline center-y"
    >
      <span class="button__inner">{{ text }}</span>
    </a>
  </div>
</template>

<script>
export default {
  components: {
    GitlabIcon,
  },
  data() {
    return {
      externalLink: false,
    };
  },
  props: {
    text: null,
    link: null,
  },
  mounted() {
    if (this.link.includes("http")) {
      this.externalLink = true;
    }
  },
};
</script>

<style lang="scss">
@import "/assets/scss/head";

.button {
  $p: &;

  position: relative;
  display: inline-flex;

  padding: 0 30px;
  padding-top: 4px;
  padding-bottom: 2px;

  text-align: center;
  color: white;

  transition: all $transition-base $swoop;

  border-bottom: 2px solid;

  // stroke
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all $transition-base $swoop;
  }

  &:hover {
    &:before {
      top: 0;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &--primary {
    border-color: white;

    &:hover {
      color: black;
    }

    &:before {
      background-color: white;
    }
  }

  &--cta {
    border-width: 2px;
    border-style: solid;
  }

  &--icon {
    padding-left: 15px;
    padding-right: 15px;

    margin-right: -10px;
  }
}
</style>