<template>
  <div
    :class="`dash dash--${this.type} dash--${this.origin} dash--push-${this.push}`"
  ></div>
</template>

<script>
export default {
  props: {
    type: null,
    origin: null,
    push: null,
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/head.scss";

$dashDegree: -10deg;

.dash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: skewY($dashDegree);
  user-select: none;

  &--white {
    background-color: white;
  }

  &--black {
    background-color: black;
  }

  &--almost-black {
    // background-color: #202020;
    border-top: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
  }

  &--stroke {
    border-top: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
  }

  @keyframes rainbow {
    0% {
      background-position: 0% 82%;
    }
    50% {
      background-position: 100% 19%;
    }
    100% {
      background-position: 0% 82%;
    }
  }

  &--rainbow {
    background: linear-gradient(
      124deg,
      #ff2400,
      #e81d1d,
      #e8b71d,
      #e3e81d,
      #1de840,
      #1ddde8,
      #2b1de8,
      #dd00f3,
      #dd00f3
    );
    animation: rainbow 18s ease infinite;
    background-size: 1800% 1800%;
  }

  &--angle {
    // using a svg instead of a skew. different shape
    transform: none;
  }

  &--flip {
    transform: skewY(-$dashDegree);
  }

  &--top-left {
    transform-origin: top left;
  }

  &--top-right {
    transform-origin: top right;
  }

  &--bottom-right {
    transform-origin: bottom right;
  }

  &--bottom-left {
    transform-origin: bottom left;
  }

  &--push-from-top {
    top: 100%;
    bottom: -100%;
  }
}

.light-mode .dash {
  &--white {
    background-color: black;
  }

  &--black {
    background-color: white;
  }

  &--stroke {
    border-top: 2px solid $body-color;
    border-bottom: 2px solid $body-color;
  }
}
</style>