<template>
  <span class="dual-title">
    <span class="dual-title__shadow">{{ textShadowCheck }}</span>
    <span class="dual-title__front">{{ text }}</span>
  </span>
</template>

<script>
export default {
  props: {
    text: null,
    textShadow: null,
  },
  computed: {
    textShadowCheck() {
      let textShadow = this.textShadow;

      if (textShadow == null) {
        textShadow = this.text;
      } else {
        textShadow = this.textShadow;
      }

      return textShadow;
    },
  },
  mounted() {
    var elem = this.$el.querySelector(".dual-title__shadow");

    var fontSize = parseFloat(
      window.getComputedStyle(elem, null).getPropertyValue("font-size")
    );

    var offset = fontSize / 8;
    elem.style.cssText = `
      top: -${offset}px;
      left: -${offset}px;
      padding-right: ${offset}px;
      padding-bottom: ${offset}px;
    `;
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/head.scss";

.dual-title {
  position: relative;
  display: inline-block;

  &__shadow {
    position: absolute;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $border;
    user-select: none;
  }

  &__front {
    position: relative;
    top: 0;
    left: 0;
  }

  // link hover effect
  &--link {
    span {
      transition: all $transition-base $swoop;

      &:nth-child(1) {
        opacity: 0;
      }
    }

    &:hover {
      span {
        &:nth-child(1) {
          opacity: 1;
        }

        &:nth-child(2) {
          top: 5px;
          left: 5px;
        }
      }
    }
  }
}

.light-mode .dual-title {
  &__shadow {
    -webkit-text-stroke-color: #afafaf;
  }

  &__front {
    color: black;
  }
}
</style>