<template>
  <div>
    <div class="nav-overlay">
      <div class="nav-overlay__top-bg"></div>
      <div class="nav-overlay__content center-y">
        <div class="container h-100">
          <div class="nav-overlay__row row h-100">
            <div class="col-12 col-md-9">
              <div class="nav-overlay__nav">
                <h2 @click="navOverlayclose" class="nav-overlay__nav-item">
                  <NuxtLink to="/#portfolio" class="no-underline">
                    <DualTitle text="portfolio" />
                  </NuxtLink>
                </h2>
                <h2 @click="navOverlayclose" class="nav-overlay__nav-item">
                  <NuxtLink to="/#about" class="no-underline">
                    <DualTitle text="over mij" />
                  </NuxtLink>
                </h2>
                <h2 @click="navOverlayclose" class="nav-overlay__nav-item">
                  <NuxtLink to="/#contact" class="no-underline">
                    <DualTitle text="contact" />
                  </NuxtLink>
                </h2>
              </div>
            </div>
            <div class="col-12 col-md">
              <div class="d-none d-md-flex justify-content-end">
                <div class="nav-overlay__list-icons-desktop">
                  <ListIcons :iconData="iconData" orientation="vertical" />
                </div>
              </div>
              <div class="d-flex d-md-none">
                <div class="nav-overlay__list-icons-mobile">
                  <ListIcons :iconData="iconData" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-overlay__dashes">
        <svg class="nav-overlay__dash dash dash--angle" viewBox="0 0 36 6.3">
          <polygon points="36,0 0,6.3 0,0 36,0 " />
        </svg>
        <svg class="nav-overlay__dash dash dash--angle" viewBox="0 0 36 6.3">
          <polygon points="36,0 0,6.3 0,0 36,0 " />
        </svg>
      </div>
    </div>

    <div class="header">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col d-flex justify-content-end">
            <div
              @click="navOverlayToggle"
              id="header__hamburger"
              class="hamburger navToggle"
            >
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import gsap from "gsap";
import socialIcons from "/static/social-icons.json";

export default {
  data() {
    return {
      navOverlayIsOpen: false,
      time: 1,
      animation: "power4.inOut",
      iconData: socialIcons,
    };
  },
  methods: {
    navOverlayOpen() {
      console.log("navOverlayOpen");
      this.navOverlayIsOpen = true;

      document.body.classList.add("overflow-hidden");
      document
        .getElementById("header__hamburger")
        .classList.add("hamburger--active");

      gsap.to(".nav-overlay", {
        duration: this.time,
        ease: this.animation,
        y: document.getElementsByClassName("nav-overlay")[0].clientHeight,
      });

      gsap.to(".nav-overlay__dash:nth-child(2)", {
        duration: this.time,
        ease: this.animation,
        top: "200px",
      });

      gsap.to(".main", {
        duration: this.time,
        ease: this.animation,
        y: "10vh",
      });
    },
    navOverlayclose() {
      console.log("navOverlayclose");
      this.navOverlayIsOpen = false;

      document.body.classList.remove("overflow-hidden");
      document
        .getElementById("header__hamburger")
        .classList.remove("hamburger--active");

      gsap.to(".nav-overlay", {
        duration: this.time,
        ease: this.animation,
        y: "0%",
      });

      gsap.to(".nav-overlay__dash:nth-child(2)", {
        duration: this.time,
        ease: this.animation,
        top: "0",
      });

      gsap.to(".main", {
        duration: this.time,
        ease: this.animation,
        y: "0",
      });
    },
    navOverlayToggle() {
      console.log("navOverlayToggle");
      if (this.navOverlayIsOpen === true) {
        this.navOverlayclose();
      } else {
        this.navOverlayOpen();
      }
    },
  },
};
</script>

<style lang="scss">
@import "/assets/scss/head";

.header {
  position: fixed;
  width: 100%;
  padding-top: 120px;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: difference;

  @include media-breakpoint-down(md) {
    padding-top: 50px;
  }
}

.hamburger {
  $p: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
  z-index: 100;
  cursor: pointer;
  pointer-events: all;
  transition: all $transition-base $swoop;
  transition: all $transition-base cubic-bezier(0.5, -0.96, 0, 3.11);

  &:hover {
    transform: scale(1.1);
  }

  div {
    width: 60px;
    height: 2px;
    background-color: #fff;
    transition: $transition-base $swoop;
    transition: all $transition-base cubic-bezier(0.5, -0.5, 0, 1.5);
  }

  &--active {
    div {
      &:nth-child(1) {
        transform: translateY(14.5px) rotate(45deg);
      }

      &:nth-child(2) {
        transform: translateY(-14.5px) rotate(-45deg);
      }
    }
  }
}

$strokeHeight: 200px;

.nav-overlay {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 100vh;
  min-height: 100%;
  z-index: 90;

  &__top-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
  }

  &__content {
    position: relative;
    height: 100vh;
    z-index: 95;
  }

  &__row {
    align-items: center;

    @include media-breakpoint-down(sm) {
      > div:nth-child(1) {
        margin-top: auto;
      }
    }
  }

  &__nav {
    @include media-breakpoint-down(sm) {
      margin-top: 100px;
    }
  }

  &__nav-item {
    display: block;
    color: white;
    font-size: 100px;
    letter-spacing: 15px;
    line-height: 1;
    margin-bottom: 100px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xl) {
      font-size: 80px;
      letter-spacing: 10px;
    }

    @include media-breakpoint-down(md) {
      font-size: 50px;
    }

    @include media-breakpoint-down(xs) {
      font-size: 35px;
      margin-bottom: 75px;
    }

    @include media-breakpoint-down(xxs) {
      font-size: 30px;
      margin-bottom: 75px;
    }
  }

  &__list-icons-desktop {
    height: 500px;
    width: 60px;
  }

  &__list-icons-mobile {
    width: 100%;
    max-width: 400px;
    padding-top: 70px;
    padding-bottom: 20px;
  }

  &__dashes {
    position: relative;
  }

  &__dash {
    position: relative;
    height: auto;
    margin-top: -$strokeHeight;
    border-top: $strokeHeight solid black;
    top: 0;
    left: 0;
    fill: black;
    z-index: 85;

    &:nth-child(2) {
      position: absolute;
      top: 0;
      fill: white;
      z-index: 82;
    }
  }
}
</style>