<template>
  <section class="section overflow-hidden p-0">
    <div
      v-rellax="{
        // Rellax Options
        // See: https://github.com/dixonandmoe/rellax#features
        speed: -7,
      }"
      class="hero hero--1 hero__img cover"
      :style="{
        backgroundImage: `url(${img})`,
      }"
    >
      <div class="hero__gradient hero__gradient--dean-one"></div>
      <div class="container">
        <div class="row">
          <div class="col">
            <NuxtLink to="/#portfolio" class="hero__back center no-underline">
              <ArrowLeftIcon size="1.5x" class="hero__back-icon" />
              portfolio
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
    <Dash type="black" origin="top-left" class="hero__dash" push="from-top" />
  </section>
</template>

<script>
import VueRellax from "vue-rellax";
import { ArrowLeftIcon } from "vue-feather-icons";

export default {
  props: {
    img: null,
  },
  components: {
    ArrowLeftIcon,
  },
};
</script>

<style lang="scss" scoped>
@import "/assets/scss/head";

.hero {
  height: 90vh;

  @include media-breakpoint-down(sm) {
    height: 70vh;
  }

  &__img {
    background-position: top center;
    background-position: center;
  }

  &__back {
    position: absolute;
    top: 105px;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 1;

    transition: transform $transition-base $swoop;

    &:hover {
      transform: translateX(-20px);
    }

    @include media-breakpoint-down(md) {
      top: 50px;
      font-size: 25px;
    }
  }

  &__back-icon {
    height: 50px;
    margin-right: 20px;
    stroke-width: 1;

    @include media-breakpoint-down(md) {
      height: 30px;
      margin-right: 10px;
    }
  }

  &__dash {
    top: 100%;
  }

  &__gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--dean-one {
      background: linear-gradient(
        to left,
        rgba(black, 0) 0%,
        rgba(red, 0.15) 100%
      );
    }

    &--ikkijkverder {
      background: linear-gradient(
        to left,
        rgba(#e30613, 0.05) 0%,
        rgba(#f58220, 0.5) 100%
      );
    }

    &--hopp {
      background: linear-gradient(
        to right,
        rgba(rgb(255, 14, 163), 0.1) 0%,
        rgba(rgb(102, 232, 241), 0.1) 100%
      );
    }
  }
}
</style>