<template>
  <ul
    class="list-icons no-dots"
    :class="{ 'list-icons--vertical': orientation === 'vertical' }"
  >
    <li v-for="(data, index) in iconData" :key="index" class="list-icons__li">
      <a :href="data.url" target="_blank" class="list-icons__a no-underline">
        <component :is="data.icon" class="list-icons__icon" />
      </a>
    </li>
  </ul>
</template>

<script>
import {
  GitlabIcon,
  GithubIcon,
  MailIcon,
  PhoneIcon,
  LinkedinIcon,
} from "vue-feather-icons";

export default {
  components: {
    GitlabIcon,
    GithubIcon,
    MailIcon,
    PhoneIcon,
    LinkedinIcon,
  },
  props: {
    iconData: null,
    orientation: "",
  },
};
</script>
<style lang="scss" scoped>
@import "/assets/scss/head";

.list-icons {
  $p: &;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__li {
    line-height: 1;
  }

  &__a {
    padding: 5px;
    margin: -5px;

    &:hover {
      #{$p}__icon {
        transform: scale(1.2) rotate(10deg);
      }

      #{$p}__icon--mail {
        // stroke: blue;
      }

      #{$p}__icon--phone {
        stroke: #25d366;
      }

      #{$p}__icon--linkedin {
        stroke: #00a4ff;
      }

      #{$p}__icon--gitlab {
        stroke: #fc6d26;
      }
    }
  }

  &__icon {
    transition: transform 0.2s;
  }

  &--vertical {
    flex-direction: column;
    height: 100%;
    width: auto;
  }
}
</style>