<template>
  <section id="skill" class="section section-skill">
    <Dash type="almost-black" />
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12">
          <h2>
            <DualTitle text="mijn skills" />
          </h2>
        </div>
        <div class="col-12 col-md-8 col-xl-7 col-xxl-5 pb-1rem">
          <p>
            De <span class="text-highlight">programma's </span> en
            <span class="text-highlight">tools </span>die ik gebruik om mooie
            dingen mee te maken.
          </p>
        </div>
      </div>
    </div>
    <div class="container-skills">
      <div class="row justify-content-center mb-g-n1">
        <div
          v-for="(skill, index) in skills"
          :key="index"
          class="col-auto pb-g-1"
        >
          <Skill :icon="skill.icon" :text="skill.text" />
        </div>
      </div>
      <div class="row text-center mt-2rem text-dim">
        <div class="col-12">
          <p><small>(en nog veel meer)</small></p>
        </div>
      </div>
    </div>
    <!-- <canvas id="riveCanvas" width="512" height="512"></canvas> -->
  </section>
</template>




<script>
import skills from "/static/skills.json";

export default {
  data() {
    return {
      skills: skills,
    };
  },
  // mounted() {
  //   Rive({
  //     locateFile: (file) => "https://unpkg.com/rive-canvas@0.6.7/" + file,
  //   }).then((rive) => {
  //     const req = new Request("/static/animation.riv");

  //     fetch(req)
  //       .then((res) => {
  //         return res.arrayBuffer();
  //       })
  //       .then((buf) => {
  //         const file = rive.load(new Uint8Array(buf));
  //         console.log(file);
  //         const artboard = file.defaultArtboard();
  //         const basicAnim = artboard.animation("Untitled 1");
  //         const basicInstance = new rive.LinearAnimationInstance(basicAnim);
  //         const canvas = document.getElementById("riveCanvas");
  //         const ctx = canvas.getContext("2d");
  //         const renderer = new rive.CanvasRenderer(ctx);

  //         ardboard.advance(0);

  //         ctx.save();

  //         render.align(
  //           rive.Fit.contain,
  //           rive.Alignment.center,
  //           {
  //             minX: 0,
  //             minY: 0,
  //             maxX: canvas.width,
  //             maxY: canvas.height,
  //           },
  //           artboard.bounds
  //         );
  //         artboard.draw(renderer);
  //         ctx.restore();

  //         let lastTime = 0;

  //         function draw(time) {
  //           // work out how many seconds have passed since a previous frame was
  //           // drawn
  //           if (!lastTime) {
  //             lastTime = time;
  //           }
  //           const elapsedTime = (time - lastTime) / 1000;
  //           lastTime = time;

  //           // advance our animation by the elapsed time
  //           basicInstance.advance(elapsedTime);
  //           // apply the animation to the artboard
  //           basicInstance.apply(artboard, 1.0);
  //           // advance the artboard
  //           artboard.advance(elapsedTime);

  //           // render the animation frame
  //           // first, clear the canvas
  //           ctx.clearRect(0, 0, canvas.width, canvas.height);
  //           // let's resize it to fit the canvas
  //           ctx.save();
  //           renderer.align(
  //             rive.Fit.contain,
  //             rive.Alignment.center,
  //             {
  //               minX: 0,
  //               minY: 0,
  //               maxX: canvas.width,
  //               maxY: canvas.height,
  //             },
  //             artboard.bounds
  //           );
  //           // and now we can draw our frame to our canvas
  //           artboard.draw(renderer);
  //           ctx.restore();

  //           // and kick off the next frame
  //           requestAnimationFrame(draw);
  //         }
  //         // now kick off the animation
  //         requestAnimationFrame(draw);
  //       });
  // });
  // },
};
</script>
<style lang="scss" scoped>
@import "/assets/scss/head";
.container-skills {
  @include make-container();
  max-width: 1600px;
  // background-color: red;
}
</style>