<template>
  <section class="section section-intro center-y">
    <div class="and">&</div>

    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="intro__lines">
            <span class="intro__line intro__line--small"
              >Ik ben een <span class="text-highlight">front-end</span></span
            >
            <DualTitle
              text="developer"
              class="intro__line intro__line--big dual-title"
            />
            <span class="intro__line intro__line--small"
              >met een <span class="text-highlight">oog voor</span></span
            >
            <DualTitle
              text="design"
              textShadow="designer"
              class="intro__line intro__line--big"
            />
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="intro__buttons">
            <NuxtLink
              :to="{ path: '/', hash: '#portfolio' }"
              class="button button--primary no-underline center-y"
            >
              <span class="button__inner">portfolio</span>
            </NuxtLink>

            <NuxtLink
              :to="{ path: '/', hash: '#contact' }"
              class="button button--primary no-underline center-y"
            >
              <span class="button__inner">contact</span>
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "/assets/scss/head.scss";

.intro {
  position: relative;
  z-index: 50;

  &__line {
    display: block !important;

    &:nth-child(2) {
      margin-bottom: 60px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      margin-left: 100px;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }
    }

    &--small {
      font-size: 30px;
      letter-spacing: 0.8rem;
      color: $body-color;

      @include media-breakpoint-down(lg) {
        font-size: 25px;
        letter-spacing: 0.6rem;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(xs) {
        font-size: 22px;
        letter-spacing: 0.4rem;
        margin-bottom: 10px;
      }

      @include media-breakpoint-down(xxs) {
        font-size: 18px;
      }
    }

    &--big {
      font-size: 110px;
      letter-spacing: 2rem;

      @include media-breakpoint-down(lg) {
        font-size: 70px;
        letter-spacing: 1.5rem;
        line-height: 1;
      }

      @include media-breakpoint-down(sm) {
        font-size: 50px;
        letter-spacing: 1rem;
      }

      @include media-breakpoint-down(xs) {
        font-size: 30px;
        letter-spacing: 0.8rem;
      }

      @include media-breakpoint-down(xxs) {
        font-size: 25px;
        letter-spacing: 0.8rem;
      }
    }

    .text-highlight {
      @include media-breakpoint-down(xs) {
        display: block;
        margin-top: 3px;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-left: 210px;
    margin-top: 50px;

    @include media-breakpoint-down(sm) {
      justify-content: center;
      margin-left: 0;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-top: 75px;
    }

    .button {
      margin-right: 50px;
      min-width: 200px;

      @include media-breakpoint-down(xs) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
  }
}

.and {
  position: absolute;
  top: -1200px;
  right: -1000px;
  color: $border;
  font-size: 3000px;
  color: transparent;
  line-height: 1;
  user-select: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $border;

  @include media-breakpoint-down(lg) {
    top: -700px;
    right: -700px;
    font-size: 2000px;
  }

  @include media-breakpoint-down(sm) {
    top: -500px;
    right: -700px;
    font-size: 1500px;
  }
}
</style>