<template>
  <section id="about" class="section section-about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="avatar">
            <img src="/hopp.jpg" alt="" class="avatar__img" />
          </div>
        </div>
        <div class="col-12 col-lg col p-last-none">
          <h2>
            <DualTitle text="Over mij" />
          </h2>
          <p>
            Ook al ben ik ruim 1 meter 90, ik ben het type wat niet meteen
            opvalt in een grote ruimte.
          </p>
          <p>
            Ik zit namelijk meestal op een bureaustoel mijn hersens te kraken
            over front-end-vraagstukken, designs te ontwikkelen of 3D modellen
            in Cinema 4D te maken.
          </p>
          <p>
            Kom je dichterbij, dan kun je me meestal herkennen aan mijn velvet
            schoenen en/of hoodie.
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "/assets/scss/head";

.avatar {
  position: relative;
  margin-bottom: 100px;
  max-width: 400px;

  &__img {
    width: 100%;
    border-radius: 100%;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    top: -30px;
    left: -30px;
    bottom: 30px;
    right: 30px;
    display: block;
    border: 2px solid $border;
  }
}
</style>