<template>
  <section id="contact" class="section section-contact">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>
            <DualTitle text="contact" />
          </h2>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-12 col-md-10 col-xl-7 col-xxl-6 p-last-none">
          <p>
            Stuur mij een berichtje via
            <a href="mailto:robbinschmidt@gmail.com">e-mail</a> of
            <a
              href="https://api.whatsapp.com/send?phone=+31634137844"
              target="_blank"
            >
              whatsapp </a
            >, dan kom ik graag langs voor een glaasje melk en een gesprek.
          </p>
        </div>
        <div class="col-12 col-xl-4 height-100 center-y">
          <div class="section-contact__list-icons">
            <ListIcons :iconData="iconData" orientation="horizontal" />
          </div>
        </div>
        <div class="col-xxl-1"></div>
      </div>
    </div>
  </section>
</template>

<script>
import socialIcons from "/static/social-icons.json";
export default {
  data() {
    return {
      iconData: socialIcons,
    };
  },
};
</script>

<style>
</style>