<template>
  <section id="portfolio" class="section section-portfolio">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section__title">
            <DualTitle text="Portfolio" />
          </h2>
        </div>
      </div>
    </div>

    <div class="position-relative">
      <Dash type="white" />

      <div class="d-flex flex-wrap justify-content-center">
        <NuxtLink
          v-for="(item, index) in data"
          :key="item.id"
          :to="`/portfolio/${item.url}`"
          class="portfolio-item no-underline"
          :class="index === currPortfolioIndex && 'portfolio-item--active'"
        >
          <div
            class="portfolio-item__bg cover"
            :style="{
              backgroundImage: `url(/portfolio/${item.url}/${item.thumbnail})`,
            }"
          />
          <div class="portfolio-item__content">
            <h3 class="portfolio-item__title">{{ item.title }}</h3>
            <div class="portfolio-item__sub-title">
              {{ item.subTitle }}
            </div>
          </div>
        </NuxtLink>
      </div>
    </div>
  </section>
</template>

<script>
import portfolioData from "/static/portfolio.json";

export default {
  data() {
    return {
      data: portfolioData,
    };
  },
  props: {
    currPortfolioIndex: Number,
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/head.scss";

.portfolio-item {
  $p: &;

  position: relative;
  display: block;
  width: 33.333%;
  height: 400px;
  overflow: hidden;
  background-color: black;

  @include media-breakpoint-down(lg) {
    width: 50%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  &:hover {
    #{$p}__bg {
      transform: scale(1.1) rotate(0.5deg);
    }
  }

  &--active {
    // border-left: 20px solid black;
    cursor: default;

    &:hover {
      #{$p}__bg {
        transform: scale(1.02);
      }
    }

    #{$p}__content {
      opacity: 0;
    }

    #{$p}__bg {
      opacity: 0.3;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.7;

    transform: scale(1.02);
    transition: all $transition-base $swoop;
  }

  &__content {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    // text-align: center;
    z-index: 1;
    transition: all $transition-base $swoop;

    p:last-of-type() {
      margin-bottom: 0;
    }
  }

  &__title {
    color: white;
  }

  &__sub-title {
    color: white;
  }
}
</style>
