<template>
  <div class="skill center">
    <img :src="require(`~/assets/icons/${icon}`)" alt="" class="skill__icon" />
    <div class="skill__text">{{ text }}</div>
  </div>
</template>


<script>
export default {
  props: {
    icon: null,
    text: null,
  },
};
</script>

<style lang="scss" scoped>
@import "/assets/scss/head";

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 180px;

  background-color: #050505;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid #080808;
  border-radius: 10px;

  @include media-breakpoint-down(md) {
    width: 90px;
    padding-top: 15px;
    padding-bottom: 0;
  }

  &__icon {
    height: 100px;
    margin-bottom: 15px;

    user-select: none;

    @include media-breakpoint-down(md) {
      height: 50px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: $body-color-darker;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
</style>