<template>
  <div @click="toggleDarkMode()" class="theme-switcher">
    <div
      v-if="$colorMode.value === 'dark'"
      class="theme-switcher__button theme-switcher__button theme-switcher__button--dark center"
    >
      <SunIcon />
    </div>
    <div
      v-if="$colorMode.value === 'light'"
      class="theme-switcher__button theme-switcher__button theme-switcher__button--light center"
    >
      <MoonIcon />
    </div>
  </div>
</template>

<script>
import { MoonIcon, SunIcon } from "vue-feather-icons";

export default {
  components: {
    MoonIcon,
    SunIcon,
  },
  methods: {
    toggleDarkMode() {
      if (this.$colorMode.preference !== "dark") {
        this.$colorMode.preference = "dark";
      } else {
        this.$colorMode.preference = "light";
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.theme-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 50px;
  height: 50px;

  z-index: 128903;

  &__button {
    cursor: pointer;

    border-radius: 100%;

    &--dark {
      width: 100%;
      height: 100%;

      background-color: white;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);

      svg {
        color: black;
      }
    }

    &--light {
      width: 100%;
      height: 100%;
      background-color: black;
      border: 2px solid rgba(white, 0.1);

      svg {
        color: white;
      }
    }
  }
}
</style>