@import "/assets/scss/head.scss";

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  text-transform: uppercase;
  font-weight: bold;
  word-break: break-word;
  letter-spacing: .2rem;
}

.light-mode body {
  background-color: $body-bg-light;
}

::selection {
  background-color: lightpink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}

h1 {
  font-size: 100px;
  margin-bottom: 50px;
  letter-spacing: 22px;

  @include media-breakpoint-down(md) {
    font-size: 80px;
    letter-spacing: 15px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 60px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 50px;
    letter-spacing: 12px;
  }
}

h2 {
  font-size: 80px;
  letter-spacing: 15px;


  @include media-breakpoint-down(sm) {
    font-size: 50px;
    letter-spacing: 7px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 40px;
    letter-spacing: 7px;
  }

  @include media-breakpoint-down(xxs) {
    font-size: 35px;
  }
}

a {
  position: relative;
  display: inline-block;
  transition: all .2s;

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    bottom: 5px;
    transition: all .2s;
  }

  &:hover {
    text-decoration: none;
    color: $link-color;

    &:after {
      background-color: $link-color;
    }
  }
}

.light-mode a {
  color: $link-color-light;

  &:hover {
    &:after {
      color: $link-color-light;

    }
  }
}
