.section {
  position: relative;
  @extend .center-y;
  padding: 100px 0;


  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  &__title {
    margin-bottom: 50px;
  }
}

.section-intro {
  padding: 100px 0;
  min-height: 100vh;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }
}

.section-portfolio {
  padding: 100px 0 200px 0;

  @include media-breakpoint-down(sm) {
    padding: 50px 0 100px 0;
  }
}

.section-portfolio-intro {
  padding-top: 0;
  margin-top: -200px;

  @include media-breakpoint-down(md) {
    margin-top: -100px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: -70px;
  }
}

.section-about {}

.section-skill {
  padding-bottom: 25px;
  margin-top: 100px;
  margin-bottom: 200px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 100px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 100px;
  }
}

.section-contact {
  padding-bottom: 150px;

  @include media-breakpoint-down(xl) {
    padding-bottom: 100px;
  }

  &__list-icons {
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;

    @include media-breakpoint-up(xl) {
      margin-top: 0px;
      max-width: auto;
    }
  }
}
