<template>
  <div>
    <Hero
      :img="`/portfolio/${currPortfolioData.url}/${currPortfolioData.img}`"
      :gradient="currPortfolioData.gradient"
    />

    <section class="section section-portfolio-intro">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>
              <DualTitle :text="currPortfolioData.title" />
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="stats">
              <div class="stats__stat">
                <p>
                  <span class="text-highlight">klant: <br /></span>
                  {{ currPortfolioData.stats.client }}
                </p>
              </div>

              <div class="stats__stat">
                <p>
                  <span class="text-highlight">technieken: <br /></span>
                  <span v-for="(tool, index) of tools" :key="index">
                    {{ tool }}
                  </span>
                </p>
              </div>

              <div class="stats__stat">
                <p>
                  <span class="text-highlight">Datum: <br /></span>
                  {{ currPortfolioData.stats.date }}
                </p>
              </div>
            </div>
          </div>
          <div class="order-first order-xxl-last col-12 col-xxl-auto mt-xxl-16">
            <div class="button-icon-wrapper">
              <a
                target="_blank"
                :href="currPortfolioData.buttons.icon.link"
                class="button button--primary button--cta button--icon no-underline center-y"
              >
                <span class="button__inner">
                  <gitlab-icon class="button__icon"></gitlab-icon
                ></span>
              </a>

              <a
                target="_blank"
                :href="currPortfolioData.buttons.link"
                class="button button--primary button--cta no-underline center-y"
              >
                <span class="button__inner">{{
                  currPortfolioData.buttons.text
                }}</span>
              </a>
            </div>
            <p></p>
          </div>
        </div>

        <div class="row">
          <div v-html="currPortfolioData.body" class="col-12 col-md-10"></div>
          <!-- <div class="col-12 col-md-10">
            <pre>
              <code>
                {{ currPortfolioData.buttons.text }}
                {{ currPortfolioData.buttons.link }}
              </code>
            </pre>
          </div> -->
        </div>
      </div>
    </section>

    <SectionPortfolio :currPortfolioIndex="this.currPortfolioIndex" />

    <SectionContact />
  </div>
</template>

<script>
import { GitlabIcon } from "vue-feather-icons";

import portfolioData from "/static/portfolio.json";
import { ArrowLeftIcon, ArrowRightIcon } from "vue-feather-icons";

export default {
  data() {
    return {
      currPortfolioData: null,
      currPortfolioIndex: null,
    };
  },
  components: {
    GitlabIcon,
    ArrowLeftIcon,
    ArrowRightIcon,
  },
  computed: {
    prevPortfolioData() {
      return portfolioData[this.currPortfolioIndex - 1];
    },
    nextPortfolioData() {
      return portfolioData[this.currPortfolioIndex + 1];
    },

    tools() {
      let tools = [];

      for (let i = 0; i < this.currPortfolioData.stats.tools.length; i++) {
        const tool = this.currPortfolioData.stats.tools[i];
        if (i === this.currPortfolioData.stats.tools.length - 1) {
          tools.push(`${tool}`);
        } else {
          tools.push(`${tool},`);
        }
      }

      return tools;
    },
  },
  methods: {
    getData() {
      for (let i = 0; i < portfolioData.length; i++) {
        if (portfolioData[i].url === this.slug) {
          this.currPortfolioData = portfolioData[i];
          this.currPortfolioIndex = i;

          return portfolioData[i];
        }
      }
    },
  },

  created() {
    this.getData();
  },

  async asyncData({ params }) {
    return {
      slug: params.slug,
    };
  },
};
</script>


<style lang="scss" scoped>
@import "/assets/scss/head";

.stats {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(lg) {
    // flex-direction: column;
  }

  &__stat {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    @include media-breakpoint-up(sm) {
      margin-right: 80px;
    }
  }
}
</style>