<template>
  <div id="top" class="page">
    <Header />
    <div class="main">
      <Nuxt />
    </div>
    <!-- <Themeswitcher /> -->
    <!-- <script src="https://unpkg.com/front-end-debug" type="module"></script> -->
    <script src="https://unpkg.com/rive-canvas@0.6.7/rive.js"></script>
  </div>
</template>

<style lang="scss">
@import "/assets/scss/head.scss";

.page {
  position: relative;
  overflow: hidden;
}
</style>

