<template>
  <div class="center-y vh-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div v-if="error.statusCode == 404">
            <h2>
              <DualTitle :text="error.statusCode" />
            </h2>
            <p>Page not found, <a href="/">Go back to home</a></p>
          </div>
          <div v-if="error.statusCode == 500">
            <h2>
              <DualTitle :text="error.statusCode" />
            </h2>
            <p>Something went wrong, <a href="/">Go back to home</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["error"],
};
</script>

<style scopped>
</style>