<template>
  <div id="top" class="page">
    <SectionIntro />

    <SectionPortfolio />

    <SectionAbout />

    <SectionSkill />

    <SectionContact />
  </div>
</template>

<script>
export default {};
</script>


<style lang="scss">
@import "/assets/scss/head.scss";

.section--portfolio-intro {
  @include media-breakpoint-down(xl) {
    margin-top: -100px;
  }
}
</style>
