<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          restaurants

          <div v-for="item in data" :key="item.id">
            <h6>{{ item.name }}</h6>
            <small>{{ item.published_at }}</small>
          </div>

          {{ error }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      data: null,
      error: null,
    };
  },
  async mounted() {
    try {
      const response = await axios.get("http://localhost:1337/restaurants");
      this.data = response.data;
    } catch (error) {
      this.error = error;
    }
  },
};
</script>

<style>
</style>