@import "~/assets/scss/head.scss";

.text-highlight {
  color: $text-highlight;
}

.text-dim {
  color: $text-dim;
}

.light-mode .text-highlight {
  color: black
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $border;
}
